
*{
    padding: 0;
    bottom: 0;

}
.s1{
    display: flex;
    width: 150px;
    height: 250px;
    
}
header{
    background-color: black;
    height: 100px;
}
h3{
    color: white;
  
}